#Ignoro los logs
*.log
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
#Ignoro las carpetas bin del cliente y del servidor
Servidor/bin/
Cliente/bin/
